{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["dist", "node_modules"],
  "plugins": ["@typescript-eslint"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/jsx-no-useless-fragment": "off",
    "react/jsx-props-no-spreading": "off"
  }
}