@font-face {
  font-family: 'TestFont';
  src: url('./NotoSansKR-Bold.otf') format('woff');
}

@font-face {
  font-family: 'BMHANNAPro';
  src: url('./BMHANNAPro.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}
